<nav class="navbar navbar-expand-lg navbar-light bg-light ">
 

    <div class="menu-container">
      <ul class="menu-list">
        <li>
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li *ngIf="isAutenticado()">
          <a class="nav-link" [routerLink]="['/tabla']">Tablas</a>
        </li>
        <li  >
          <a class="nav-link" [routerLink]="['/inicio-sesion']" *ngIf="isAutenticado() else noLogin">Cerrar sesión</a>
          <ng-template #noLogin>
            <a class="nav-link" [routerLink]="['/inicio-sesion']"> Iniciar sesión</a>

          </ng-template>
        </li>
         
    
        
        
      </ul>
    </div>
    <div class="navegacion-responsive ">

      <div class="submenu" [routerLink]="['/']"><p class="descripcion-submenu">Home</p></div>
      <div class="submenu" [routerLink]="['/tabla']" *ngIf="isAutenticado()"><p class="descripcion-submenu">Tablas</p></div>
      <div class="submenu"   *ngIf="isAutenticado() else noLoginResponsive" [routerLink]="['/inicio-sesion']"><i class="bi bi-person"></i><p class="descripcion-submenu">Cerrar sesión</p></div>
        <ng-template #noLoginResponsive>  
      <div class="submenu" [routerLink]="['/inicio-sesion']"  > <p class="descripcion-submenu">Iniciar Sesión</p></div>
    </ng-template>
    </div>
  </nav>